* {
  box-sizing: border-box;
}

body {
  background-color: lightslategray;
}

a {
  text-decoration: none;
}

button {
  background-color: dodgerblue;
  border-radius: 7px;
  height: 35px;
  padding: 0 10px;
  margin: 0 5px;
  border: none;
  color: white;
  box-shadow: none;
}

.range {
  margin: 0 5px;
}

.grid {
  display: grid;
  margin: auto;
}

.cell {
  border: 1px dotted slategray;
}

.cell:hover {
  background-color: lightsteelblue;
}

.alive {
  background-color: black;
}

.alive:hover {
  background-color: darkslategrey;
}

.dead {
  background-color: white;
}

.rules {
  width: 600px;
  line-height: 1.5em;
}

.controls {
  display: flex;
  width: 70%;
  max-width: 700px;
  height: 50px;
  margin: 20px auto;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.about {
  margin: 0 10%;
}